[submodule "healpixsubmodule"]
	path = cextern/healpix
	url = https://github.com/healpy/healpixmirror.git
[submodule "cfitsio"]
	path = cextern/cfitsio
	url = https://github.com/lpsinger/cfitsio.git
	branch = remove-generated-autotools-files
