*pyc
*swp
build
*so
*ipynb
ipython_log*
doc/.build
doc/generated
*~
src/_ianafast.cpp
src/_query_disc.cpp
src/_pixelfunc.cpp
src/_sphtools.cpp
src/_hotspots.cpp
src/_line_integral_convolution.cpp
src/_masktools.cpp
lib/healpy/version.py
*.egg-info
dist
.eggs
.idea
.pytest_cache
.vscode
