*pyc
*swp
build
*so
*ipynb
pshyt.c
ipython_log*
doc/.build
doc/generated
*~
hpbeta/build.*
hpbeta/healpy_*
healpy/src/_ianafast.cpp
healpy/src/_query_disc.cpp
healpy/src/_pixelfunc.cpp
healpy/src/_sphtools.cpp
healpy.egg-info
dist
.eggs
.idea
.pytest_cache
