*pyc
*swp
build
*so
*ipynb
ipython_log*
doc/.build
doc/generated
*~
healpy/src/_ianafast.cpp
healpy/src/_query_disc.cpp
healpy/src/_pixelfunc.cpp
healpy/src/_sphtools.cpp
healpy/src/_hotspots.cpp
healpy/src/_line_integral_convolution.cpp
healpy/src/_masktools.cpp
healpy/version.py
healpy.egg-info
dist
.eggs
.idea
.pytest_cache
.vscode
