recursive-include healpy/data *.fits
recursive-include healpy/test/data *
exclude healpy/test/data/wmap*v4.fits
exclude healpy/test/data/ipython*
include COPYING INSTALL.rst README.rst MANIFEST.in CHANGELOG.rst ez_setup.py
include healpy/src/_healpy_utils.h
include healpy/src/_query_disc.cpp
include healpy/src/_sphtools.cpp
include healpy/src/_pixelfunc.cpp
