recursive-include healpy/data *.fits
recursive-include healpy/test/data *
exclude healpy/test/data/ipython*
exclude cfitsio/*pdf cfitsio/*ps cfitsio/*doc cfitsio/*tex
prune cfitsio/docs
exclude *.so
exclude *.a
exclude .gitignore .gitmodules .travis.yml clean.sh
include COPYING CITATION INSTALL.rst README.rst MANIFEST.in CHANGELOG.rst ez_setup.py run_pykg_config.py
include healpy/src/_healpy_utils.h
include healpy/src/_query_disc.cpp
include healpy/src/_sphtools.cpp
include healpy/src/_pixelfunc.cpp
include healpy/src/_common.pxd
include healpy/src/_query_disc.pyx
include healpy/src/_sphtools.pyx
include healpy/src/_pixelfunc.pyx
