name: build

on:
  push:
    branches:
      - main
  pull_request:
  release:
    types:
      - published
  schedule:
    # Runs at 9 AM California time (16:00 UTC) on the first Tuesday of every month
    - cron: '0 16 1-7 * 2'
  workflow_dispatch: # Allows manual triggering from GitHub UI

jobs:

  source:
    name: Build source package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - uses: docker://python
        with:
          args: 'sh -c "pip install build && python -m build --sdist"'

      - uses: actions/upload-artifact@v5
        with:
          name: source
          path: dist/*

  wheels:
    name: Build binary packages
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-22.04-arm, macos-13, macos-14]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3
        env:
          CIBW_BUILD: "cp310-* cp311-* cp312-* cp313-* cp314-*"
          CIBW_MANYLINUX_X86_64_IMAGE: quay.io/pypa/manylinux2014_x86_64
          CIBW_ENVIRONMENT_LINUX: "MPLLOCALFREETYPE=1 MPLCONFIGDIR=/tmp"
          CIBW_TEST_ENVIRONMENT_LINUX: "MPLLOCALFREETYPE=1 MPLCONFIGDIR=/tmp"

      - uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.os }}
          path: wheelhouse/*

  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: [source, wheels]
    if: github.event_name == 'release'

    steps:
      - uses: actions/download-artifact@v6
        with:
          merge-multiple: true
          path: dist

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

  
